extends layout

block content
    .container
        h1 About Us
        p Like we said on the home page, we're the best.
        ul
            li Smartest
            li Best Looking
            li Coolest Stuff
        p If you disagree, then you're wrong.
